{{!-- views/projects/desarrollo-humano-resumen.hbs --}}

<section class="project-detail">
    <h1>Resumen del Proyecto: Desarrollo Humano y Profesional</h1>
    <h2>Libro 2: Principios para una Vida Plena</h2>
    <p>Este proyecto ofrece una visión general de los principios fundamentales del libro "Desarrollo Humano y Profesional, Libro 2: Principios para una Vida Plena". Está diseñado para ayudar en el crecimiento personal y en el fortalecimiento de relaciones profesionales.</p>
    
    <h3>Principios Fundamentales:</h3>
    <ul>
        <li><strong>Comunicación:</strong> La comunicación efectiva es esencial para las relaciones humanas y profesionales saludables, basada en la claridad, el respeto y la comprensión mutua.</li>
        <li><strong>Comprensión de las Personas:</strong> Este principio fomenta la empatía y habilidades interpersonales para mejorar la convivencia y cooperación.</li>
        <li><strong>Motivación:</strong> La inspiración es clave para ayudar a los demás a alcanzar su máximo potencial, tanto personal como profesional.</li>
        <li><strong>Justicia:</strong> Actuar con equidad y rectitud promueve el trato justo y la confianza en todas las relaciones.</li>
        <li><strong>Perdón:</strong> Practicar el perdón es vital para dejar atrás el rencor y mejorar las relaciones personales y laborales.</li>
        <li><strong>Confianza en Dios:</strong> Desarrollar una vida plena basada en la fe y en la confianza en un ser superior que guía nuestras decisiones y acciones.</li>
        <li><strong>Integridad:</strong> La honestidad y coherencia entre palabras y acciones permite ganar la confianza de los demás.</li>
        <li><strong>Empoderamiento:</strong> Apoyar y fortalecer las habilidades de otros miembros en un equipo fomenta un entorno de crecimiento mutuo.</li>
    </ul>
        <h2>Vista del Proyecto</h2>
    <img src="/images/2-1.jpg" alt="Imagen del Mini Piano Digital" class="project-image">
    <img src="/images/2-2.jpg" alt="Imagen del Mini Piano Digital" class="project-image">



</section>
