
{{!-- views/pages/home.hbs --}}

<section class="hero">
<h1>Bienvenido a Mi Portafolio</h1>
<p>Soy Elvis Diego Josué Quiejú Damián, estudiante de ingenieria en sistema de la información, Explora mis habilidades y proyectos.</p>
<a href="/about" class="btn">Conoce más sobre mí</a>
</section>

<section class="skills-preview">
<h2>Mis Habilidades</h2>
<ul>
    <li><strong>Lenguajes de Programación:</strong> JavaScript, Python</li>
    <li><strong>Sistemas Operativos:</strong> Linux, Windows, MacOS</li>
    <li><strong>Bases de Datos:</strong> MySQL, MongoDB</li>
    <li><strong>Redes:</strong> Configuración y seguridad de redes</li>
</ul>

<a href="/skills" class="btn">Ver todas mis habilidades</a>


<section class="presentation-images">
    <h2>Presentación</h2>
    <div class="image-container">
        <img src="/images/yo 1.jpg" alt="Presentación 1" />
        <img src="/images/yo 2.jpg" alt="Presentación 2" />
        <img src="/images/yo 3.jpg" alt="Presentación 3" />
    </div>
</section>



