{{!-- views/pages/projects.hbs --}}

<section class="projects">
    <h1>Mis Proyectos</h1>
    <p>A continuación se presentan algunos de los proyectos en los que he trabajado:</p>

    <ul class="projects-list">
        <li>
            <h3>
                <a href="/projects/mini-piano" class="btn">Mini Piano Digital</a>
            </h3>
            <p>Proyecto de un mini piano digital que utiliza Arduino para reproducir sonidos mediante botones, cada uno representando una nota musical.</p>
        </li>

        <li>
            <h3><a href="/projects/desarrollo-humano-resumen" class="btn">Desarrollo Humano y Profesional</a></h3>
                <p>Un análisis de los principios esenciales para una vida plena, según el libro "Desarrollo Humano y Profesional".</p>
        </li>

        <li>
            <h3><a href="/projects/encuesta-estudiantes" class="btn">Encuesta de estudiantes de ingenieria </a></h3>
                <p>Este proyecto presenta un análisis de los resultados de una encuesta realizada a 108 estudiantes de la carrera de Ingeniería en Sistemas. La encuesta se enfocó en dos preguntas clave que buscaban obtener una visión detallada sobre los hábitos de estudio y las preferencias tecnológicas de los estudiantes en esta carrera.</p>
        </li>


    </ul>
</section>
